/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */

.profilePic {
  width: 20%;
  height: auto;
  border: 4px solid rgb(102, 102, 207);
  border-radius: 50%;
  margin-bottom: -120px;
  margin-right: 24px;
}

h1,
h2,
h3,
body,
p {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 48px;
}

h1 span {
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}

body {
  background-color: #e5e5e5;
}

header {
  background-color: white;
  padding: 32px 64px;
}

.dados {
  display: inline-block;
}
