/* font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display', serif; */

.profilePic {
  width: 20%;
  height: auto;
  border: 4px solid rgb(102, 102, 207);
  border-radius: 50%;
  margin-bottom: -120px;
  margin-right: 24px;
}

h1,
h2,
h3,
body,
p {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 48px;
}

h1 span {
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

h3 {
  font-weight: normal;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  margin-bottom: 4px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

.profissao {
  font-size: 20px;
  margin-top: 10px;
}

.t60 {
  color: rgba(0, 0, 0, 0.6);
}

body {
  background-color: #e5e5e5;
}

header {
  background-color: white;
  padding: 32px 64px;
}

.dados {
  display: inline-block;
}

main {
  padding: 40px 70px;
  display: flex;
}

.coluna-menor {
  margin-top: 64px;
  width: 260px;
}

.linha {
  width: 80px;
  border-top: 2px solid;
  margin-top: 8px;
}

.experiencias .linha {
  border-color: #4200ff;
}

.coluna-menor h2 {
  margin-top: 40px;
}

.coluna-menor img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 8px;
}

.conteudo {
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

.coluna-menor li {
  margin-top: 32px;
  display: flex;
}

.coluna-maior {
  margin-left: 24px;
}

.habilidades h2 {
  font-size: 36px;
  margin-left: 12px;
}

.card {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  margin: 22px 12px;
  width: 250px;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.card p {
  font-size: 16px;
}

.progresso {
  width: 100%;
  display: flex;
}

.barra {
  width: 20%;
  height: 4px;
  background-color: rgb(39, 39, 177);
  margin-top: 8px;
}

.incompleto {
  opacity: 0.2;
}

.card li {
  margin-top: 22px;
  margin-bottom: 28px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
